/* HTML format Buttons */

.format_buttons_html {
    margin: 13px 0;
}

.format_buttons_html_narrow {
    max-width: 450px;
}

.format_buttons_html .item {
    display: inline-block;
    margin: 2px;
    border: 1px solid #909090;
    background-color: #eae99f;
    cursor: pointer;
    padding: 1px 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    border-radius: 3px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;  
    -moz-box-sizing: content-box;    
    -ms-box-sizing: content-box; 
}

.format_buttons_html .item:hover, .format_buttons_html .item.selected {
    background-color: #d1cf45;
}

.format_buttons_html .item.size_reg span {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    display: inline-block;
    height: 14px;
}

.format_buttons_html .item.font span {
    padding-top: 1px;
    display: inline-block;
}

.format_buttons_html .item.font_serif span {
    padding-top: 2px;
    font-family: serif;
}

.format_buttons_html .item.font_sans_serif span {
    font-family: sans-serif;
}

.format_buttons_html .item.font_monospace span {
    font-family: monospace;
}

.format_buttons_html .item.paragraph_toggle {
    width: 36px;
    overflow: hidden;
}

.format_buttons_html .item.renderstyle.paragraph {
    width: 36px;
    text-align: center;
}

.format_buttons_html .item.language select {
    border: 0;
}

/*@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.format_buttons_html .item .icon {
    font-size: 18px;
    line-height: 18px;
}

.format_buttons_html .item img.icon {
    height: 18px;
}

.format_buttons_html .item {
    /*color:  green;*/
}

.format_buttons_html .item.paragraph_toggle .true span, 
.format_buttons_html .item.copy_toggle .true span, 
.format_buttons_html .item.copy_toggle .false span,  
.format_buttons_html .item.single_verse_toggle .true span, 
.format_buttons_html .item.single_verse_toggle .false span,
.format_buttons_html .item.renderstyle.verse span,
.format_buttons_html .item.renderstyle.passage span
{
    height: 4px;
    display: block;
    text-align: left;
    position: relative;
    top: -6px;
    white-space: nowrap;
}

.bss_button_group {
    white-space: nowrap;
    display: inline-block;
}

.format_buttons_html .item.copy_toggle.is_false span span {
    background-color: #3390ff;
    position: initial;
    line-height: 4px;
}

.format_buttons_html .item.copy_toggle_new {
    width: 36px;
}

.format_buttons_html .item.copy_toggle {
    width: 40px;
}

.format_buttons_html .item.copy_toggle .false {
    background-color: #3390ff;
    color: white;
}

.format_buttons_html .item.copy_toggle span.buttons {
    font-size: 8px;
    top: -1px;
}

.format_buttons_html .item.single_verse_toggle.is_false span span {
    /*background-color: #3390ff;*/
    position: initial;
    line-height: 4px;
}

.format_buttons_html .item.single_verse_toggle {
    width: 40px;
}

.format_buttons_html .item.single_verse_toggle .false {
    /*color: white;*/
}

.format_buttons_html .item.single_verse_toggle span.buttons {
    font-size: 8px;
    top: -1px;
}

.format_buttons_html .item.advanced_toggle {
    min-width: 63px;
}

.format_buttons_html .item.download {
    text-align: center;
    /*width: 76px;*/
}

.format_buttons_html .item.text_only {
    line-height: 18px;
}

.format_buttons_html .item.language {
    line-height: 18px;
    padding: 0 4px 2px;
}

.format_buttons_html .item.language select {
    font-size: 10px;
    background-color: transparent;
}

.format_buttons_html .block_enabled, .format_buttons_html .block_disabled {
    display: inline-block;
    margin-right: 3px;
    height: 11px;
    width: 11px;
    border: 1px solid #222222;
    font-size: 10px;
    line-height: 13px;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    top: 2px;
    /*padding-top: -15px;*/
}
    
.format_buttons_html .block_enabled {
    background-color: #43b243;
    color: white;
}

.bible_settings .settings_toggle {
    width: 200px;
    margin: 0 auto 10px;
    text-align: left;
    cursor: pointer;
}

.bible_settings .settings_toggle .icon {
    font-size: 16px;
    /*background-color: blue;*/
    color: green;
    position: relative;
    top: 2px;
}

.bible_settings .settings_container {
    width: 250px;
    margin: 0 auto 10px;
    text-align: left;
    cursor: pointer;
}

.bible_settings .settings_container label {
    margin-left: 5px;
    cursor: pointer;
}

.bible_settings .section .header {
    /*font-weight: bold;*/
    text-decoration: underline;
    margin-bottom: 4px;
}

/*.format_buttons_html .selected {
    background-color: #c7b72c;
}
*/

.html_nav_buttons {
    text-align: center;
    margin: 15px 0;
}

/* HTML Nav Buttons */
.html_nav_buttons a {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0 3px;
    line-height: 29px;
    border: 1px solid #656565;
    background-color: #a7c9f9;
    font-size: 16px !important;
}

.html_nav_buttons a.active:link, .interface_expanding a.active:visited {
    text-decoration: none;
    color: #444444;
}

.html_nav_buttons a.active:hover  {
    background-color: #6fa7f7;
}

.html_nav_buttons a.inactive {
    background-color: #dddddd;
    /*background-color: transparent;*/
}

.biblesupersearch_copy_settings .presets button {
    margin: 0 3px;
}

.biblesupersearch_copy_settings .presets button.active {
    background-color: #444444;
    color: white;
}

.biblesupersearch_copy_settings .section {
    font-size: 12px;
    min-width: 140px;
}

.biblesupersearch_copy_settings .section label {
    margin-left: 7px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    div.copy_toggle span.false {
        padding-top: 6px;
        display: inline-block;
    }
}