.interface_expanding .biblesupersearch_expanding_form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}

.biblesupersearch_expanding_form .wrapper {
    margin: 0;
    padding: 0;
}

.biblesupersearch_expanding_form .input_row {
    margin-bottom: 5px;
}

.biblesupersearch_expanding_form .biblesupersearch_bible_selector_multi {
    margin: 0;
}

.biblesupersearch_expanding_form .input_row .label {
    display: inline-block;
    vertical-align: top;
    width: 165px;
    /*max-width: 140px;*/
    text-align: right;
    margin-right: 5px;
    padding: 0;
    white-space: nowrap;
}

.biblesupersearch_expanding_form .input_row .element {
    display: inline-block;
    width: 49%;
    padding: 0;
    text-align: center;
    max-width: 300px;
}

.biblesupersearch_expanding_form .input_row .element select {
    width: 100%;
}

.biblesupersearch_expanding_form .input_row .element input {
    width: calc(100% - 4px);
    margin: 0;
}

.biblesupersearch_expanding_form .input_row .element textarea {
    width: 100%; 
    /*width: calc(100% - 2px);*/
    height: 16px;
    padding: 0;
    margin: 0;
}

.biblesupersearch_expanding_form .input_row .element input[type=checkbox] {
    width: initial;
}

.biblesupersearch_expanding_form .input_row_wide {
    text-align: center;
    margin-bottom: 5px;
}

.biblesupersearch_expanding_form .input_row_wide textarea, .biblesupersearch_expanding_form .input_row_wide .bible, .biblesupersearch_expanding_form .input_row_wide input {
    width: 85%;
    margin: 0 auto;
    padding: 0;
}

.biblesupersearch_expanding_form .input_row_wide button {
    margin: 10px;
}

.biblesupersearch_expanding_form textarea {
    height: 16px;
    font-size: 12px
}

.biblesupersearch_expanding_form .expander_row {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.biblesupersearch_expanding_form  .input_row_checkbox {
    text-align: center;
}

.biblesupersearch_expanding_form  .input_row_checkbox .checkbox_container {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.biblesupersearch_expanding_form  .input_row_checkbox .checkbox_container .label {
    display: inline-block;
    /*width: 140px;*/
    margin-right: 6px;
    /*background-color: yellow;*/
    text-align: right;
}
.biblesupersearch_expanding_form  .input_row_checkbox .checkbox_container .element {
    display: inline-block;
}

.biblesupersearch_expanding_form  .biblesupersearch_copy_settings .section {
    background-color: #eeeeee;
}

.interface_expanding .bible button {
    font-size: .7em;
}

.interface_expanding button.random {
    font-size: .7em;
    width: 110px;
    text-align: center;
}

/*Todo - add class to 'standard links' so that only those we acutally want to style here are affected!*/

.interface_expanding a.std_link:link, .interface_expanding a.std_link:visited {
    color: #0000ee;
    text-decoration: none;
}

.interface_expanding a.std_link:hover {
    /*text-decoration: underline overline;*/
    background-color: #609bff;
}

.interface_expanding .expander_row button {
    background-color: transparent;
    border: 0;
}

.interface_expanding textarea.large_block_textarea {
    max-width: 400px;
    width: 98%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.interface_expanding .strongs_hover {
    padding: 0;
    border: 0;
    background-color: #dee4fc;
}

.interface_expanding .strongs_hover .strongs_head {
    background-color: #dee4fc;
    padding: 10px;
    text-align: center;
}

.interface_expanding .strongs_hover .strongs_tvm {
    background-color: #dee4fc;
    padding: 10px;
}

.interface_expanding .strongs_hover .strongs_body {
    background-color: #7690f7;
    padding:10px;
    color:white;
    text-align: justify;
}

.interface_expanding .strongs_hover .hebrew .strongs_head span {
    font-weight: bold;
    font-size: 20pt;
    font-family: serif;
    padding-top: 5px;
}

.interface_expanding .strongs_hover .greek .strongs_head span {
    font-weight: bold;
    font-size: 16pt;
    padding-top: 10px;
    font-family: serif;
}

.interface_expanding .help_dialog .dialog {
    background-color: #7690f7;
    color: white;
}

.interface_expanding .help_dialog .dialog .content {
    background-color: #dee4fc;
    color: black;
}

.interface_expanding .help_dialog .item:nth-child(odd) {
    background-color: #ccc;
}

/*.interface_expanding a.strongs:link, .interface_expanding a.strongs:visited, .interface_expanding a.strongs:hover {
    color: black;
    text-decoration: none;
}*/

.interface_expanding .biblesupersearch_pager a {
    margin: 0 2px;
    /*font-weight: bold;*/
}

.interface_expanding .biblesupersearch_pager a.current_page {
    color: #369336;
    font-weight: bold;
}

.interface_expanding .biblesupersearch_pager a.disabled {
    color: #676767;
}

/*.interface_expanding .biblesupersearch_pager a:after, .interface_expanding .biblesupersearch_pager a:before {
    display:none;
}*/

@media only screen and (max-width: 380px) {
    .biblesupersearch_expanding_form .input_row .label {
        display: block;
        vertical-align: top;
        width: 100%;
        max-width: none;
        text-align: center;
        margin-right: 0px;
    }

    .biblesupersearch_expanding_form .input_row .element {
        display: block;
        width: 99%;
        max-width: initial;
    }

    .biblesupersearch_expanding_form .input_row_wide textarea {
/*        width: 100%;
        max-width: 498px;*/
    }

    .biblesupersearch_expanding_form .input_row .element input {
        width: calc(100% - 2px);
        margin: 0;
    }
}

@media only screen and (max-width: 380px) {
    .biblesupersearch_expanding_form  .input_row_checkbox .checkbox_container {
        display: block;
        width: 100%;
    }
}
