/* Layout CSS */  

div.biblesupersearch_main {
    /*background-color: #222222;*/
    /*min-height: 100px;*/
    /*max-height: 1000px;*/
    height: 95%;
    max-height: 90vh;
    max-width: 1000px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
}

div.biblesupersearch_main.rtl {
    direction: rtl;
}

.biblesupersearch_render_table, .biblesupersearch_render_table td table {
    font-size: inherit !important;
}

div.biblesupersearch_loading_inline {
    background-color: transparent;
}

div.biblesupersearch_left_menu {
    /*background-color: green;*/
    width: 120px;
/*    max-width: 200px;
    min-width: 120px;*/
/*    position: absolute;*/
}

div.biblesupersearch_top_menu {
    background-color: tan;
    height: 20px;
}

div.biblesupersearch_content {
    /*background-color: #D1D1D1;*/
    /*position: relative;*/
    height: 100%;
    /*min-height: 300px;*/
/*    text-align: center;*/
    overflow-y: auto;
    /*overflow-x: hidden;*/
    min-width: 100px;
}

.biblesupersearch_layout_button {
    cursor: pointer;
}

.biblesupersearch_top_label {
    text-align: center;
}

.biblesupersearch_results_overflow {
    /*position: relative;*/
    /*height: calc(100% + 20px);*/
    height: 100%;
}

.biblesupersearch_multiselect button {
    margin: 4px 2px 0;
}

.biblesupersearch_bible_selector {

}

.biblesupersearch_bible_selector_multi {
    margin-right: 2px;
    margin-left:  2px;
}

.biblesupersearch_center_element {
    margin-right: auto;
    margin-left: auto;
}

.biblesupersearch_error_view {
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    min-width: 100px;
    max-width: 75%;
}

.biblesupersearch_error {
    width: 100%;
    height: 200px;
    border: 1px solid #aaa;
    padding: 20px;
    text-align: center;
}

.biblesupersearch_error_header {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}

table.biblesupersearch_render_table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}

.biblesupersearch_copy_pane {

}

.biblesupersearch_copy_pane button {
    display: block;
    max-width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.biblesupersearch_copy_pane p {
    width: 99%;
    min-height: 100px;
    max-height: 300px;
    white-space: pre-wrap;
    border: 2px inset #adadad;
    overflow-y: auto;
}

.biblesupersearch_render_table td {
    vertical-align: top;
    font-size: 1em;
}

.biblesupersearch_render_table th {
    font-size: 1em;
}

.biblesupersearch_render_table sup.ver {
    width: 20px;
    /*max-width: 20px;*/
    /*min-width: 15px;*/
    text-align: right;
    display: inline-block;
    /*vertical-align: top;*/
    margin-right: 3px;
    font-size: .80em;
    float: left;
}

.biblesupersearch_render_table span.txt {
    display: inline-block;
    float: left;
}

.biblesupersearch_render_table td table {
    table-layout: fixed;
    padding: 0;
    border-spacing: 0 0;
    margin: 0;
}

.biblesupersearch_render_table td table td {
    padding: 0 2px;
}

.biblesupersearch_render_table td.txt {
    text-align: justify;
}

.biblesupersearch_render_table td.ltr, p.ltr {
    direction: ltr;
}

.biblesupersearch_render_table td.rtl, p.rtl {
    direction: rtl;
}

.biblesupersearch_render_table td table.rtl {
    margin-left: auto;
}

.biblesupersearch_render_table sup {
    text-align: justify;
    font-size: .70em;
    font-weight: bold;
}

.biblesupersearch_render_table td table td.ver {
    width: 20px;
    text-align: right;
    vertical-align: top;
}

.biblesupersearch_render_table td table td.txt {

}

.biblesupersearch_render_table td.copyright_statement {
    padding: 5px;
    text-align: justify;
    font-size: 0.7rem;
}

.biblesupersearch_render_table td.copyright_statement h5 {
    font-size: 0.8rem;
    margin-top: 3px;
}

.biblesupersearch_content hr {
    margin: 20px 0;
}

.biblesupersearch_main .format_buttons {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.biblesupersearch_pager {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.biblesupersearch_main .results {
    position: relative;
}

/* Standard text formatting */
.biblesupersearch_main .results.font_serif {
    font-family: serif;
}

.biblesupersearch_main .results.font_san_serif {
    font-family: sans-serif;
}

.biblesupersearch_main .results.font_monospace {
    font-family: monospace;
}

div.biblesupersearch_dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.5); 
    /*vertical-align: middle;*/
    text-align: center;
    /*padding-top: calc(10px + 10vh);*/
    /*padding-bottom: 0;*/
}

.biblesupersearch_nav_buttons {
    margin: 15px auto 15px;
    text-align: center;
}

.biblesupersearch_render_table .html_nav_buttons {
    font-family:'Helvetica Neue','Nimbus Sans L',Arial,sans-serif;
}

.biblesupersearch_nav_buttons img {
    background-color: white;
    margin: 0 2px 0;
}

.biblesupersearch_main label {
    display: inline;
}

.biblesupersearch_main label.left_label {
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    min-width: 100px;
}

.biblesupersearch_main label.resp_left_label {
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    min-width: 100px;
    width: 98%; 
}

.biblesupersearch_main label.resp_left_label_150 { max-width: 150px; }
.biblesupersearch_main label.resp_left_label_165 { max-width: 165px; }

.biblesupersearch_main .resp_input {
    width: 98%; 
}



.biblesupersearch_pager .links a:before {
    content: ' ';
}

.biblesupersearch_pager .links a:after {
    content: ' ';
}

.biblesupersearch_pager a.current_page:hover, .biblesupersearch_pager a.disabled:hover {
    background-color: transparent;
}

.biblesupersearch_main .resp_input_200 { max-width: 200px; }
.biblesupersearch_main .resp_input_210 { max-width: 210px; }
.biblesupersearch_main .resp_input_150 { max-width: 150px; }
.biblesupersearch_main .resp_input_100 { max-width: 100px; }

@media screen and (max-width: 400px)  {
    .biblesupersearch_main label.resp_left_label {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
    }

    .biblesupersearch_main .resp_input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%; 
        max-width: initial;
    }
}


div.alert_dialog {

    z-index: 10000000;
}



.alert_dialog .content {
    padding: 5px 10px;
}

.alert_dialog_container {
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    /*position: relative;*/
}

.hover_dialog {
/*    width: 300px; 
    height: 300px; */
    max-width: 400px;
    position: absolute;
    border: 2px solid black;
    background-color: #dddddd;
    z-index: 97;
    box-shadow: 10px 10px 5px #444;
    display: block;
}

.hover_dialog .inner {
    position: relative;
    z-index: 97;
    overflow: visible;
    height: auto;
}

.biblesupersearch_content {
    overflow: visible;
}

/* force any and all textareas displayed to only expand vertically */
.biblesupersearch_content textarea {
    resize: vertical;
}

.strongs_inline {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 50px;
}

@media screen and (max-width: 400px)  {
    .strongs_inline {
        padding: 0 20px;
    }
}

.strongs_inline .item:not(:first-child) {
    margin-top: 15px;
}

.strongs_inline .item .strongs_head {
    font-weight: bold;
    font-family: serif;
    margin-bottom: 20px
}

.strongs_inline .hebrew .strongs_head span {
    font-size: 20pt;
    padding-top: 5px;
}

.strongs_inline .greek .strongs_head span {
    font-size: 16pt;
    padding-top: 10px;
}

.strongs_inline .item .strongs_body {
    text-align: justify;
}

.disambiguation .item {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.disambiguation .item:not(:first-child) {
    margin-top: 20px;
}

.dialog .buttons span.spacer {
    display: inline-block;
    width: 40px;
} 

.help_dialog .dialog {
    margin: 10px;
}

.help_dialog {
    padding-top: 5px;
}

.help_dialog .buttons {
    /*min-height: 30px;*/
    padding: 8px 0 8px;
}

.help_dialog .list {
    vertical-align: top;
}

.help_dialog .list .col {
    padding: 0 15px;
    display: inline-block;
    height: 320px;
    overflow-y: auto;
}

.bible_sos .sos_item {
    margin-bottom: 5px;
    padding: 2px;
}

.help_dialog .item:nth-child(odd) {
    background-color: #ddd;
}

.help_dialog .dialog {
    padding-top: 2px;
}

.help_dialog.help table {
    border: 1px solid #333;
    border-spacing: 0;
    border-collapse: collapse;
}

.help_dialog.help .content .link {
    margin-bottom: 10px;
}

.help_dialog.help .content .col div {
    font-size: 0.9em;
}

.help_dialog.help table tr td {
    font-size: .9em;
    border: 1px solid #333;
}

.help_dialog.help table tr td {
    font-size: .8em;
    border: 1px solid #333;
}

.help_dialog.help table tr td.op {
    text-align: right;
}

.help_dialog.help table tr td.desc {
    text-align: left;
}

.bible_sos .sos_item .label {
    float: left;
    display: inline-block;
    font-weight: bold;
    text-align: left;
    font-size: 0.9em;
}

.share_dialog .link_share_container {
    padding: 5px;
}

.share_dialog textarea.link_share {
    width: 99%;
    height: 200px;
}

.bible_sos .sos_item .verses {
    float: right;
    /*background-color: green;*/
    cursor: pointer;
    display: inline-block;
    max-width: 70%;
    font-size: 0.8em;
    text-align: right;
}

.bible_start .start_item {
    padding: 5px 2px;
}

.bible_start .start_item .num {
    float: left;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    text-align: right;
    width: 22px;
    margin-right: 5px;
}

.bible_start .start_item .verses {
    float: left;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 0.8em;
    text-align: left;
}

.bible_start .start_item .desc {
    float: right;
    display: inline-block;
    max-width: 80%;
    text-align: right;
    font-size: 0.9em;
}

.bible_download h4 {
    margin-top: 0;
}
.bible_download h5 {
    margin-bottom: 0;
}

.bible_download .content {
    height: 290px;
    overflow-y: auto;
    padding: 0 15px 15px;
}

.bible_download .buttons {
    padding-top: 8px;
}

.bible_download .render_list {
    text-align: left;
}

.bible_download .render_list .name {
    display: inline-block;
    float: left;
    text-align: left;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bible_download .render_list .status {
    display: inline-block;
    float: right;
    text-align: right;
}

.bible_download .render_list .status .success {
    color: green;
}

.bible_download .render_list .status .error {
    color: red;
}

.bible_download .render_list .render_item:nth-child(odd) {
    background-color: #ddd;
}

.clear-both, .clear_both {
    clear: both;
}

.biblesupersearch_bible_selector option.label {
    background-color: transparent;
    font-weight: bold;
    color: black;
}

.biblesupersearch_dialog .dialog {
    opacity: 1;
    background-color: white; 
}

/* Print dialog specific formatting */
.biblesupersearch_print .biblesupersearch_nav_buttons, .biblesupersearch_print .html_nav_buttons {
    display:none;
}

.checkbox_container .element {
    display: inline;
}

.biblesupersearch_copy_settings .settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: .85em;
}

.biblesupersearch_copy_settings .presets {
    display: inline-block;
}

.biblesupersearch_copy_settings .presets_container {
    text-align: center;
    margin-bottom: 10px;
}

.biblesupersearch_copy_settings .presets_container .label {
    padding: 1px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
}

.biblesupersearch_copy_settings .section {
    float: left;
    margin: 7px;
    background-color: #eeeeee;
    padding: 10px;
}

.biblesupersearch_copy_settings .section .header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.link_dialog .copy-link-containr input {
    max-width: 300px;
    width: 90%;
    font-size: 10px;
    padding: 2px;
    height:  11px;
}

.link_dialog .copy-link-containr button {
    font-size: 10px;
    padding: 0px;
    height: 17px;
}

.biblesupersearch_context_help {
    position: relative;
}

div.biblesupersearch_context_help_container {
    position: absolute;
    background-color: yellow;
    z-index: 1000001;
}

div.biblesupersearch_toggle_help {
    padding-left: 26px;
    font-size: 0.7em;
    display: block;
}

span.biblesupersearch_toggle_help {
    padding-left: 26px;
    font-size: 0.8em;
    display: inline;
}

.biblesupersearch_dialog.help_dialog .dialog .title .header h4 {
    padding: 0 5px;
}
