.interface_minimal .form {
    margin: 0 auto 40px;
    text-align: center;
}

.interface_minimal .form .single_line, .interface_minimal .form .single_line_bible {
    width: 100%; 
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.interface_minimal .form .single_line input {
    width: calc(100% - 35px); 
}

.interface_minimal .form .single_line button {
    overflow: hidden;
    text-align: center;
}

.interface_minimal .form .single_line span, .interface_minimal .form .single_line_bible span, .interface_minimal .form .single_line_short_bible span {
    white-space: nowrap;
}

.interface_minimal .form .single_line_bible input.request {
    width: 100%;
    max-width: 200px;
}

.interface_minimal_wide .form .single_line_bible input.request {
    width: 100%;
    max-width: 320px;
}

.interface_minimal_wide .form .bible_selector {
    margin-right: 15px;
    margin-left: 15px;
}

.interface_minimal_wide .form .single_line, .interface_minimal_wide .form .single_line_bible {
    max-width: 1000px;
}

.interface_minimal .form .single_line_bible input.biblesupersearch_bible_selector {
    /*width: calc(40% - 35px); */
}

.interface_minimal .form .single_line_bible button {
    overflow: hidden;
    text-align: center;
}

.interface_minimal_wide .form .single_line_bible button {
    width: initial !important; 
    margin-left: 15px;
    text-align: center;
}

.interface_minimal .form .single_line_short_bible input.request {
    width: 100%;
    max-width: 340px;
}

.interface_minimal .form .single_line_short_bible input.biblesupersearch_bible_selector {
    /*width: calc(40% - 35px); */
}

.interface_minimal .form .single_line_short_bible button {
    /*max-width: 50px;*/
    overflow: hidden;
    text-align: center;
}

.interface_minimal a:link, .interface_minimal a:visited {
    color: #0c17b2;
    text-decoration: none;
}

.interface_minimal a:hover {
    text-decoration: underline overline;
}

.interface_minimal .biblesupersearch_pager a {
    margin: 0 5px;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

/* Weird bugfix -- move to layouts.css?? */
.interface_minimal .biblesupersearch_pager a:after, .interface_minimal .biblesupersearch_pager a:before {
    display:none;
}

.interface_minimal .biblesupersearch_pager a:hover {
    text-decoration: underline overline;
    background-color: #c4caff;
}

.interface_minimal .biblesupersearch_pager a.current_page {
    font-weight: bold;
    color: #ff8c00;
    background-color: transparent;
}

.interface_minimal .form .single_line_go {
    margin-bottom: 20px;
    text-align: center;
    width: 100%; 
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.interface_minimal .form .single_line_go input {
    width: 90%; 
    max-width: 500px;
}

.interface_minimal .form .single_line_go input.max_wide {
    width: 98%; 
}

.interface_minimal .form .single_line_go button {
    margin: 0 10px;
}

.interface_minimal .strongs_hover {
    padding: 10px;
    border: 1px solid #333;
    background-color: white;
}

.interface_minimal .strongs_hover .strongs_head {
    text-align: center;
}

.interface_minimal .strongs_hover .hebrew .strongs_head span {
    font-weight: bold;
    font-size: 20pt;
    font-family: serif;
    padding-top: 5px;
}

.interface_minimal .strongs_hover .greek .strongs_head span {
    font-weight: bold;
    font-size: 16pt;
    padding-top: 10px;
    font-family: serif;
}
